[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

# Keep these in sync with pyproject.toml.
[dev-packages]
Cython = "==3.*,>=3.0.11"
numpy = "==2.3.*"
setuptools = "*"
build = "==1.*"
mypy = "*"
twine = ">=6.0.1"
# For fetching the current version from pyproject.toml.
toml = "*"
# These are for types for development only.
types-setuptools = "*"

[packages]

[requires]
python_version = "3.13"
