[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

# Keep these in sync with pyproject.toml.
[dev-packages]
Cython = "==3.*,>=3.0.3"
numpy = "==1.26.*"
setuptools = "*"
build = "==1.*"
grip = ">=4.6.1"
mypy = "*"
twine = ">=3.3.0"
# These are for types for development only.
types-setuptools = "*"

[packages]

[requires]
python_version = "3.9"
